In [1]:
import pandas as pd

linkGit="https://github.com/TAREAAS/TAREA0010/raw/main/CleaningData.ipynb"       #paste link here!

dataRaee=pd.read_html(linkGit)
dataRaee

[   Unnamed: 0                 age
 0           0            It is:24
 1           1           It is: 44
 2           2             It is54
 3           3            64 it is
 4           4         I am twenty
 5           5  The 10th I turn 21
 6           6   I am 15 years old
 7           7                 ~20,
    Unnamed: 0                   0     1
 0           0               It is  24.0
 1           1               It is  44.0
 2           2             It is54   NaN
 3           3            64 it is   NaN
 4           4         I am twenty   NaN
 5           5  The 10th I turn 21   NaN
 6           6   I am 15 years old   NaN
 7           7                 ~20   NaN,
    Unnamed: 0          age
 0           4  I am twenty,
    Unnamed: 0     0
 0           0  24.0
 1           1  44.0
 2           2  54.0
 3           3  64.0
 4           4   NaN
 5           5  10.0
 6           6  15.0
 7           7  20.0,
    Unnamed: 0     0
 0           0  24.0
 1           1  44.0
 2           2  54.0
 3           3  64.0
 4           4   NaN
 5           5  21.0
 6           6  15.0
 7           7  20.0,
    Unnamed: 0     0
 0           0  24.0
 1           1  44.0
 2           2  54.0
 3           3  64.0
 4           4   NaN
 5           5  21.0
 6           6  15.0
 7           7  20.0,
    Unnamed: 0                 age  age1  age2  age0
 0           0            It is:24  24.0  24.0  24.0
 1           1           It is: 44  44.0  44.0  44.0
 2           2             It is54  54.0  54.0  54.0
 3           3            64 it is  64.0  64.0  64.0
 4           4         I am twenty   NaN   NaN   NaN
 5           5  The 10th I turn 21  21.0  21.0  21.0
 6           6   I am 15 years old  15.0  15.0  15.0
 7           7                 ~20  20.0  20.0  20.0,
    Unnamed: 0                                           name  \
 0           0                                          China
 1           1                                  United States
 2           2                                          India
 3           3                                         Russia
 4           4                                          Japan
 5         ...                                            ...
 6         213                                     Antarctica
 7         214  Saint Helena, Ascension, and Tristan da Cunha
 8         215                                           Niue
 9         216                       Northern Mariana Islands
 10        217                                         Tuvalu

                                            slug          value  \
 0                                         china  10773248000.0
 1                                 united-states   5144361000.0
 2                                         india   2314738000.0
 3                                        russia   1848070000.0
 4                                         japan   1103234000.0
 5                                           ...            ...
 6                                    antarctica        28000.0
 7   saint-helena-ascension-and-tristan-da-cunha        13000.0
 8                                          niue         8000.0
 9                      northern-mariana-islands            0.0
 10                                       tuvalu            0.0

    date_of_information ranking                   region
 0            2019 est.       1  East and Southeast Asia
 1            2019 est.       2            North America
 2            2019 est.       3               South Asia
 3            2019 est.       4             Central Asia
 4            2019 est.       5  East and Southeast Asia
 5                  ...     ...                      ...
 6            2019 est.     214               Antarctica
 7            2019 est.     215                   Africa
 8            2019 est.     216    Australia and Oceania
 9            2019 est.     217    Australia and Oceania
 10           2019 est.     218    Australia and Oceania  ,
    Unnamed: 0                                           name          value  \
 0           0                                          China  10773248000.0
 1           1                                  United States   5144361000.0
 2           2                                          India   2314738000.0
 3           3                                         Russia   1848070000.0
 4           4                                          Japan   1103234000.0
 5         ...                                            ...            ...
 6         213                                     Antarctica        28000.0
 7         214  Saint Helena, Ascension, and Tristan da Cunha        13000.0
 8         215                                           Niue         8000.0
 9         216                       Northern Mariana Islands            0.0
 10        217                                         Tuvalu            0.0

    date_of_information                   region
 0            2019 est.  East and Southeast Asia
 1            2019 est.            North America
 2            2019 est.               South Asia
 3            2019 est.             Central Asia
 4            2019 est.  East and Southeast Asia
 5                  ...                      ...
 6            2019 est.               Antarctica
 7            2019 est.                   Africa
 8            2019 est.    Australia and Oceania
 9            2019 est.    Australia and Oceania
 10           2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name  \
 0           0                                          China
 1           1                                  United States
 2           2                                          India
 3           3                                         Russia
 4           4                                          Japan
 5         ...                                            ...
 6         213                                     Antarctica
 7         214  Saint Helena, Ascension, and Tristan da Cunha
 8         215                                           Niue
 9         216                       Northern Mariana Islands
 10        217                                         Tuvalu

                                            slug          value  \
 0                                         china  10773248000.0
 1                                 united-states   5144361000.0
 2                                         india   2314738000.0
 3                                        russia   1848070000.0
 4                                         japan   1103234000.0
 5                                           ...            ...
 6                                    antarctica        28000.0
 7   saint-helena-ascension-and-tristan-da-cunha        13000.0
 8                                          niue         8000.0
 9                      northern-mariana-islands            0.0
 10                                       tuvalu            0.0

    date_of_information ranking                   region
 0            2019 est.       1  East and Southeast Asia
 1            2019 est.       2            North America
 2            2019 est.       3               South Asia
 3            2019 est.       4             Central Asia
 4            2019 est.       5  East and Southeast Asia
 5                  ...     ...                      ...
 6            2019 est.     214               Antarctica
 7            2019 est.     215                   Africa
 8            2019 est.     216    Australia and Oceania
 9            2019 est.     217    Australia and Oceania
 10           2019 est.     218    Australia and Oceania  ,
    Unnamed: 0                                           name          value  \
 0           0                                          China  10773248000.0
 1           1                                  United States   5144361000.0
 2           2                                          India   2314738000.0
 3           3                                         Russia   1848070000.0
 4           4                                          Japan   1103234000.0
 5         ...                                            ...            ...
 6         213                                     Antarctica        28000.0
 7         214  Saint Helena, Ascension, and Tristan da Cunha        13000.0
 8         215                                           Niue         8000.0
 9         216                       Northern Mariana Islands            0.0
 10        217                                         Tuvalu            0.0

    date_of_information                   region
 0            2019 est.  East and Southeast Asia
 1            2019 est.            North America
 2            2019 est.               South Asia
 3            2019 est.             Central Asia
 4            2019 est.  East and Southeast Asia
 5                  ...                      ...
 6            2019 est.               Antarctica
 7            2019 est.                   Africa
 8            2019 est.    Australia and Oceania
 9            2019 est.    Australia and Oceania
 10           2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name          value  \
 0           0                                          China  10773248000.0
 1           1                                  United States   5144361000.0
 2           2                                          India   2314738000.0
 3           3                                         Russia   1848070000.0
 4           4                                          Japan   1103234000.0
 5         ...                                            ...            ...
 6         213                                     Antarctica        28000.0
 7         214  Saint Helena, Ascension, and Tristan da Cunha        13000.0
 8         215                                           Niue         8000.0
 9         216                       Northern Mariana Islands            0.0
 10        217                                         Tuvalu            0.0

    carbon_date                   region
 0    2019 est.  East and Southeast Asia
 1    2019 est.            North America
 2    2019 est.               South Asia
 3    2019 est.             Central Asia
 4    2019 est.  East and Southeast Asia
 5          ...                      ...
 6    2019 est.               Antarctica
 7    2019 est.                   Africa
 8    2019 est.    Australia and Oceania
 9    2019 est.    Australia and Oceania
 10   2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name          value  \
 0           0                                          China  10773248000.0
 1           1                                  United States   5144361000.0
 2           2                                          India   2314738000.0
 3           3                                         Russia   1848070000.0
 4           4                                          Japan   1103234000.0
 5         ...                                            ...            ...
 6         213                                     Antarctica        28000.0
 7         214  Saint Helena, Ascension, and Tristan da Cunha        13000.0
 8         215                                           Niue         8000.0
 9         216                       Northern Mariana Islands            0.0
 10        217                                         Tuvalu            0.0

    date_of_information                   region
 0            2019 est.  East and Southeast Asia
 1            2019 est.            North America
 2            2019 est.               South Asia
 3            2019 est.             Central Asia
 4            2019 est.  East and Southeast Asia
 5                  ...                      ...
 6            2019 est.               Antarctica
 7            2019 est.                   Africa
 8            2019 est.    Australia and Oceania
 9            2019 est.    Australia and Oceania
 10           2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name          value  \
 0           0                                          China  10773248000.0
 1           1                                  United States   5144361000.0
 2           2                                          India   2314738000.0
 3           3                                         Russia   1848070000.0
 4           4                                          Japan   1103234000.0
 5         ...                                            ...            ...
 6         213                                     Antarctica        28000.0
 7         214  Saint Helena, Ascension, and Tristan da Cunha        13000.0
 8         215                                           Niue         8000.0
 9         216                       Northern Mariana Islands            0.0
 10        217                                         Tuvalu            0.0

    carbon_date                   region
 0    2019 est.  East and Southeast Asia
 1    2019 est.            North America
 2    2019 est.               South Asia
 3    2019 est.             Central Asia
 4    2019 est.  East and Southeast Asia
 5          ...                      ...
 6    2019 est.               Antarctica
 7    2019 est.                   Africa
 8    2019 est.    Australia and Oceania
 9    2019 est.    Australia and Oceania
 10   2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name          value  \
 0           0                                          China  10773248000.0
 1           1                                  United States   5144361000.0
 2           2                                          India   2314738000.0
 3           3                                         Russia   1848070000.0
 4           4                                          Japan   1103234000.0
 5         ...                                            ...            ...
 6         213                                     Antarctica        28000.0
 7         214  Saint Helena, Ascension, and Tristan da Cunha        13000.0
 8         215                                           Niue         8000.0
 9         216                       Northern Mariana Islands            0.0
 10        217                                         Tuvalu            0.0

    carbon_date                   region
 0    2019 est.  East and Southeast Asia
 1    2019 est.            North America
 2    2019 est.               South Asia
 3    2019 est.             Central Asia
 4    2019 est.  East and Southeast Asia
 5          ...                      ...
 6    2019 est.               Antarctica
 7    2019 est.                   Africa
 8    2019 est.    Australia and Oceania
 9    2019 est.    Australia and Oceania
 10   2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name  value  \
 0           0                                          China   True
 1           1                                  United States   True
 2           2                                          India   True
 3           3                                         Russia   True
 4           4                                          Japan   True
 5         ...                                            ...    ...
 6         213                                     Antarctica   True
 7         214  Saint Helena, Ascension, and Tristan da Cunha   True
 8         215                                           Niue   True
 9         216                       Northern Mariana Islands  False
 10        217                                         Tuvalu  False

    carbon_date                   region
 0    2019 est.  East and Southeast Asia
 1    2019 est.            North America
 2    2019 est.               South Asia
 3    2019 est.             Central Asia
 4    2019 est.  East and Southeast Asia
 5          ...                      ...
 6    2019 est.               Antarctica
 7    2019 est.                   Africa
 8    2019 est.    Australia and Oceania
 9    2019 est.    Australia and Oceania
 10   2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name  value  \
 0           0                                          China   True
 1           1                                  United States   True
 2           2                                          India   True
 3           3                                         Russia   True
 4           4                                          Japan   True
 5         ...                                            ...    ...
 6         213                                     Antarctica   True
 7         214  Saint Helena, Ascension, and Tristan da Cunha   True
 8         215                                           Niue   True
 9         216                       Northern Mariana Islands  False
 10        217                                         Tuvalu  False

    carbon_date                   region
 0    2019 est.  East and Southeast Asia
 1    2019 est.            North America
 2    2019 est.               South Asia
 3    2019 est.             Central Asia
 4    2019 est.  East and Southeast Asia
 5          ...                      ...
 6    2019 est.               Antarctica
 7    2019 est.                   Africa
 8    2019 est.    Australia and Oceania
 9    2019 est.    Australia and Oceania
 10   2019 est.    Australia and Oceania  ,
    Unnamed: 0                                           name  value  \
 0           0                                          China   True
 1           1                                  United States   True
 2           2                                          India   True
 3           3                                         Russia   True
 4           4                                          Japan   True
 5         ...                                            ...    ...
 6         213                                     Antarctica   True
 7         214  Saint Helena, Ascension, and Tristan da Cunha   True
 8         215                                           Niue   True
 9         216                       Northern Mariana Islands  False
 10        217                                         Tuvalu  False

    carbon_date                   region
 0         2019  East and Southeast Asia
 1         2019            North America
 2         2019               South Asia
 3         2019             Central Asia
 4         2019  East and Southeast Asia
 5          ...                      ...
 6         2019               Antarctica
 7         2019                   Africa
 8         2019    Australia and Oceania
 9         2019    Australia and Oceania
 10        2019    Australia and Oceania  ,
    Unnamed: 0 Rank                   Country % of GDP Date of Information
 0           0    1           Solomon Islands    20.27           2018 est.
 1           1    2                   Liberia    13.27           2018 est.
 2           2    3                   Burundi    10.31           2018 est.
 3           3    4             Guinea-Bissau     9.24           2018 est.
 4           4    5  Central African Republic     8.99           2018 est.
 5         ...  ...                       ...      ...                 ...
 6         199  200                      Guam     0.00           2018 est.
 7         200  201             Faroe Islands     0.00           2017 est.
 8         201  202                     Aruba     0.00           2017 est.
 9         202  203            Virgin Islands     0.00           2017 est.
 10        203  204                     Macau     0.00           2018 est.]